{% extends "trackerapp/base.html" %} {% block body %}

<h2>Register</h2>
<form method="post">
  {% csrf_token %}
  <label for="username">Username:</label><br />
  <input type="text" id="username" name="username" /><br />
  <label for="password">Password:</label><br />
  <input type="password" id="password" name="password" /><br />
  <label for="confirm_password">Confirm Password:</label><br />
  <input type="password" id="confirm_password" name="confirm_password" /><br />
  <input type="submit" value="Register" />
</form>

{% endblock %}
